.todosContainer {
  margin-top: 40px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 100%;
};

.subtitle {
  text-align: center;
};

.container {
  flex-grow: 1;
}
