.column {
  width: 100%;
  padding: 20px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  background-color: #6066764a;
};

.onDrag {
  opacity: 0.8;
  background-color: #7483ae4a;
};
